.form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(240, 114, 11, 0.705);
  font-family: sans-serif;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

input, select, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
select, option {
  background-color: white;
  color: black;
}


button {
  background-color: #f68c1f;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
